.activeCart {
  display: none;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.5);
  min-width: 100%;
  height: 500vh;
  .cartContainer {
    position: relative;
    background-color: #fafafa;
    transform: translateY(-50%);
    top: 50%;
  }
}
