@import "./components/_header.scss";

* {
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  margin: 0;
  padding: 0;
  background: #fefefe;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.4em;
  text-align: center;
  letter-spacing: 0.15em;
  margin-bottom: 42px;
}

/* hero */

.hero {
  background-image: url("../img/hero.jpg");
  background-attachment: fixed, local;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 41px;
  background-position: center 68px;
  background-size: auto 46%;
  position: relative;
  z-index: 0;
}

// end hero

/* menu */

.menu {
  margin-bottom: 99px;

  .itemTitle {
    width: 440px;
    font-weight: 300;
    margin-bottom: 24px;
    .itemTitle__name {
      font-size: 1.4em;
      text-transform: uppercase;
      letter-spacing: 0.15em;
    }
    .itemTitle__quantity {
      font-size: 1.4em;
    }
  }

  .gridWrap {
    display: grid;
    grid-template-columns: 440px 440px 440px;
    justify-content: space-between;
    margin-bottom: 50px;

    .menuItem {
      width: 440px;
      margin-bottom: 26px;
      .menuItem__top {
        margin-bottom: 8px;
        .menuItem__top__name {
          font-size: 1.2em;
          font-weight: 600;
          letter-spacing: 0.03em;
        }
        .menuItem__top__price {
          display: flex;
          p {
            margin-right: 15px;
            font-size: 1.2em;
            font-weight: 600;
            letter-spacing: 0.03em;
          }
          img {
            cursor: pointer;
          }
        }
      }
      .menuItem__bottom {
        font-size: 0.9em;
      }
    }
  }
}

.description {
  letter-spacing: 0.15em;
  margin-bottom: 35px;
  b {
    font-size: 1.2em;
  }
}

// end menu

/* sets */

.sets {
  margin-bottom: 47px;

  .gridWrap {
    display: grid;
    grid-template-columns: 440px 440px 440px;
    justify-content: space-between;
    margin-bottom: 50px;

    .setItem {
      width: 440px;
      margin-bottom: 35px;
      .setItem__top {
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        .setItem__top__name {
          font-size: 1.2em;
          font-weight: 600;
          letter-spacing: 0.03em;
        }
      }
      .setItem__description {
        font-weight: 300;
        margin-bottom: 25px;
      }
      .setList {
        list-style: none;
        .setList__item {
          font-weight: 300;
          margin-bottom: 6px;
        }
      }
    }
  }
}

// end sets

/* delivery */

#delivery {
  .gridDelivery {
    display: grid;
    grid-template-columns: 880px 440px;
    justify-content: space-between;
    margin-bottom: 104px;
    align-items: flex-start;
    .gridDelivery__description {
      .gdDescTitle {
        font-size: 1.3em;
        margin-bottom: 30px;
      }
      p {
        line-height: 35px;
        font-weight: 300;
        font-size: 1.2em;
      }
      p:nth-child(2) {
        margin-bottom: 25px;
      }
    }
    .gridDelivery__whenOrderGet {
      .gdWhenTitle {
        font-size: 1.3em;
        margin-bottom: 30px;
      }
      p {
        line-height: 32px;
        font-weight: 300;
        font-size: 1.2em;
      }
    }
  }
}

// end delivery

/* footer */

footer {
  border-top: 1px solid #c4c4c4;
  width: 100%;
  padding-top: 47px;
  margin-bottom: 40px;
  .info {
    display: flex;
    justify-content: space-between;
    .deliveryAndBook {
      display: block;
      .dbTitle {
        margin-bottom: 12px;
      }
      span {
        margin-bottom: 10px;
        display: flex;
        img {
          margin-right: 14px;
        }
        .love {
          margin: 0 5px;
        }
        .mir4ri {
          margin-left: 5px;
          text-decoration: none;
          color: #d20000;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      span:nth-child(3) {
        margin-bottom: 43px;
      }
    }
    .addrAndSchedule {
      .asTitle {
        margin-bottom: 3px;
      }
      p {
        margin-bottom: 26px;
      }
      .schedule {
        display: flex;
        justify-content: space-between;
        div {
          span {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  * {
    font-size: 18px;
  }
  .container {
    width: 1366px;
  }
}

@media screen and (max-width: 1410px) {
  * {
    font-size: 16px;
  }
  .container {
    width: 1200px;
  }

  .menu {
    .itemTitle {
      width: 380px;
    }
    .gridWrap {
      grid-template-columns: 380px 380px 380px;
      .menuItem {
        width: 380px;
      }
    }
  }
  .sets {
    .gridWrap {
      grid-template-columns: 380px 380px 380px;
      .setItem {
        width: 380px;
      }
    }
  }
  .gallery {
    img {
      width: 380px;
    }
  }
}
