header {
  z-index: 999;
  background: #fefefe;
  -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 9px 0;
  margin-bottom: 1px;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container:first-child > .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: auto;
}

header .container:last-child > .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: auto;
}

header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 640px;
}

header .container nav a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-align: center;
}

header .container nav a:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: auto;
}

header .container nav a:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .container .cart {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .container .cart .iconCart {
  cursor: pointer;
}

header .container .cart #localLength {
  position: relative;
  left: -20px;
  background: #d20000;
  height: 28px;
  width: 30px;
  text-align: center;
  vertical-align: center;
  padding-top: 2px;
  color: #fefefe;
  font-weight: bold;
  border-radius: 50%;
}

@media screen and (max-width: 1210px) {
  header .container {
    width: 99%;
  }
  header .container:first-child > .logo {
    margin: 0 15px;
  }
  header .container nav {
    width: 100%;
  }
  header .container nav a {
    font-size: 1em;
  }
  header .container .cart .iconCart {
    width: 40px;
  }
  header .container .cart #localLength {
    left: -15px;
    height: 19px;
    width: 20px;
  }
}

.activeCart {
  cursor: pointer;
  display: none;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.5);
  min-width: 100%;
  height: 500vh;
}

.activeCart .cartContainer {
  padding: 20px;
  border-radius: 5px;
  cursor: auto;
  position: relative;
  background-color: #fafafa;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.activeCart .cartContainer .list {
  width: 46%;
}

.activeCart .cartContainer .list .cartHeader {
  margin-top: 20px;
}

.activeCart .cartContainer .list .cartHeader .cartTitle {
  font-size: 28px;
}

.activeCart .cartContainer .list .fillTable {
  width: 100%;
  margin-bottom: 20px;
}

.activeCart .cartContainer .list .fillTable .cartRow {
  font-weight: 600;
  padding-bottom: 20px;
  width: 100%;
}

.activeCart .cartContainer .list .fillTable .cartRow .priceSushi {
  direction: rtl;
}

.activeCart .cartContainer .list .sum {
  color: #c00000;
  font-weight: 600;
  margin-bottom: 20px;
}

.activeCart .cartContainer .list .clearCart {
  font-weight: 600;
  cursor: pointer;
  background-color: #d20000;
  color: #fafafa;
  border: none;
  padding: 0.3em 0;
  width: 100%;
  border-radius: 2px;
  margin-bottom: 20px;
}

.activeCart .cartContainer .list .clearCart:hover {
  background-color: #c00000;
}

.activeCart .cartContainer .list .clearCart:focus {
  outline: none;
  background-color: #464444;
}

.activeCart .cartContainer .form {
  margin-top: 20px;
  width: 52%;
}

.activeCart .cartContainer .form .formItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 7px;
}

.activeCart .cartContainer .form .formItem label {
  margin-bottom: 5px;
}

.activeCart .cartContainer .form .formItem input {
  padding: 4px;
  border: 1px solid #d3cccc;
  border-radius: 2px;
}

.activeCart .cartContainer .form .submit {
  cursor: pointer;
  border: 1px solid #d20000;
  border-radius: 2px;
  background-color: #d20000;
  padding: 0.3em 0;
  width: 100%;
  color: #fafafa;
  font-weight: 600;
}

@media screen and (max-width: 1210px) {
  .activeCart .cartContainer {
    width: 90%;
    padding: 5px;
    padding-bottom: 10px;
  }
  .activeCart .cartContainer .flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .activeCart .cartContainer .list {
    width: 90%;
  }
  .activeCart .cartContainer .list .clearCart {
    margin-bottom: 0;
  }
  .activeCart .cartContainer .form {
    width: 90%;
  }
}

* {
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  margin: 0;
  padding: 0;
}

*::-moz-selection {
  background: #f52f2f;
}

*::selection {
  background: #f52f2f;
}

html {
  scroll-behavior: smooth;
  background: #fefefe;
}

html,
main {
  height: 100%;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  font-size: 1.4em;
  text-align: center;
  letter-spacing: 0.15em;
  margin-bottom: 42px;
}

.addToCart {
  display: block;
  cursor: pointer;
  background-color: #d20000;
  color: #fafafa;
  width: 24px;
  height: 24px;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  line-height: 0.6;
  text-align: center;
  border-radius: 50%;
}

/* notification */
#notification {
  position: fixed;
  z-index: 2;
  right: 0;
  background: #d20000;
  padding: 10px 20px;
  font-weight: 600;
  color: #fafafa;
  top: 0px;
  -webkit-transition: 0.4s all ease-in;
  transition: 0.4s all ease-in;
}

#notification.active {
  top: 54px;
  -webkit-transition: 0.4s all ease-out;
  transition: 0.4s all ease-out;
}

.active {
  display: block;
}

.gallery img {
  height: 250px;
  width: 440px;
}

/* hero */
.hero {
  background-image: url("../img/hero.jpg");
  background-attachment: fixed, local;
  background-repeat: no-repeat;
  height: 380px;
  margin-bottom: 41px;
  background-position: center 68px;
  background-size: 100%;
  position: relative;
  z-index: 0;
}

/* menu */
.menu {
  margin-bottom: 99px;
}

.menu .title {
  margin-bottom: 25px;
}

.menu .choose {
  position: relative;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 0.15em;
  margin-bottom: -2px;
  z-index: 2;
}

.menu #dropdown {
  padding-bottom: 44px;
}

.menu #content {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 400px;
  width: 440px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.menu .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 440px;
  padding: 0 16px;
  background-color: #fff;
  cursor: pointer;
  letter-spacing: 0.15em;
}

.menu .placeholder {
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .input__placeholder {
  text-align: center;
}

.menu .structure > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  padding: 16px 0;
}

.menu .structure > div:hover {
  background-color: #d20000;
  color: #fafafa;
  cursor: pointer;
}

.menu .structure > div > h5 {
  font-family: "Exo 2", sans-serif;
  margin-right: 4px;
}

.menu .index {
  z-index: -999;
}

.menu .hide {
  display: none;
}

.menu .cont_select_int {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 999;
  overflow: hidden;
  height: 0px;
  width: 100%;
  background-color: #fff;
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  border-radius: 0px 0px 3px 3px;
  -webkit-transition: all 225ms ease-out;
  transition: all 225ms ease-out;
}

.menu .cont_select_int li {
  font-size: 1.2em;
  position: relative;
  float: left;
  width: 96%;
  list-style-type: none;
  padding: 10px 2%;
  margin: 0px;
  -webkit-transition: all 5ms ease;
  transition: all 5ms ease;
  display: block;
  cursor: pointer;
}

.menu .cont_select_int li:last-child {
  border-radius: 3px;
  border-bottom: 0px;
}

.menu .cont_select_int li:hover {
  background-color: #d20000;
  color: #fafafa;
}

.menu .cont_select_int .active {
  text-decoration: underline;
}

.menu .selected_option {
  font-size: 1.2em;
  padding: 14px 2%;
  width: 96%;
  display: block;
  margin: 0px;
  cursor: pointer;
}

.menu .sushi {
  display: none;
}

.menu .activeKind {
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: block;
}

.menu .itemTitle {
  width: 440px;
  font-weight: 300;
  margin-bottom: 24px;
}

.menu .itemTitle .itemTitle__name {
  font-size: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

.menu .itemTitle .itemTitle__quantity {
  font-size: 1.4em;
}

.menu .gridWrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 440px 440px 440px;
      grid-template-columns: 440px 440px 440px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.menu .gridWrap .menuItem {
  width: 440px;
  margin-bottom: 26px;
}

.menu .gridWrap .menuItem .menuItem__top {
  margin-bottom: 8px;
}

.menu .gridWrap .menuItem .menuItem__top .menuItem__top__name {
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.03em;
}

.menu .gridWrap .menuItem .menuItem__top .menuItem__top__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu .gridWrap .menuItem .menuItem__top .menuItem__top__price span {
  margin-right: 15px;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.03em;
}

.menu .gridWrap .menuItem .menuItem__top .menuItem__top__price img {
  cursor: pointer;
}

.menu .gridWrap .menuItem .menuItem__bottom {
  font-size: 0.9em;
}

.description {
  letter-spacing: 0.15em;
  margin-bottom: 35px;
}

.description b {
  font-size: 1.2em;
}

/* sets */
.sets {
  margin-bottom: 47px;
}

.sets .gridWrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 440px 440px 440px;
      grid-template-columns: 440px 440px 440px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.sets .gridWrap .setItem {
  width: 440px;
  margin-bottom: 35px;
}

.sets .gridWrap .setItem .setItem__top {
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sets .gridWrap .setItem .setItem__top .setItem__top__name {
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.03em;
}

.sets .gridWrap .setItem .setItem__top img {
  cursor: pointer;
}

.sets .gridWrap .setItem .setItem__description {
  display: block;
  font-weight: 300;
  margin-bottom: 25px;
}

.sets .gridWrap .setItem .setList {
  list-style: none;
}

.sets .gridWrap .setItem .setList .setList__item {
  font-weight: 300;
  margin-bottom: 6px;
}

/* delivery */
#delivery .gridDelivery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 880px 440px;
      grid-template-columns: 880px 440px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 104px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#delivery .gridDelivery .gridDelivery__description .gdDescTitle {
  font-size: 1.3em;
  margin-bottom: 30px;
}

#delivery .gridDelivery .gridDelivery__description p {
  line-height: 35px;
  font-weight: 300;
  font-size: 1.1em;
}

#delivery .gridDelivery .gridDelivery__description p:nth-child(2) {
  margin-bottom: 25px;
}

#delivery .gridDelivery .gridDelivery__whenOrderGet .gdWhenTitle {
  font-size: 1.3em;
  margin-bottom: 30px;
}

#delivery .gridDelivery .gridDelivery__whenOrderGet p {
  line-height: 32px;
  font-weight: 300;
  font-size: 1.1em;
}

/* footer */
footer {
  border-top: 1px solid #c4c4c4;
  width: 100%;
  padding-top: 47px;
  margin-bottom: 40px;
}

footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .info .deliveryAndBook {
  display: block;
}

footer .info .deliveryAndBook .dbTitle {
  margin-bottom: 12px;
}

footer .info .deliveryAndBook span {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .info .deliveryAndBook span img {
  margin-right: 14px;
}

footer .info .deliveryAndBook span .love {
  margin: 0 5px;
}

footer .info .deliveryAndBook span .mir4ri {
  margin-left: 5px;
  text-decoration: none;
  color: #d20000;
}

footer .info .deliveryAndBook span .mir4ri:hover {
  text-decoration: underline;
}

footer .info .addrAndSchedule .asTitle {
  margin-bottom: 3px;
}

footer .info .addrAndSchedule p {
  margin-bottom: 26px;
}

footer .info .addrAndSchedule .schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .info .addrAndSchedule .schedule div span {
  display: block;
}

@media screen and (max-width: 1500px) {
  * {
    font-size: 18px;
  }
  .container {
    width: 1366px;
  }
}

@media screen and (max-width: 1410px) {
  * {
    font-size: 16px;
  }
  .container {
    width: 1200px;
  }
  .gallery img {
    width: 380px;
  }
  .menu .itemTitle {
    width: 380px;
  }
  .menu .gridWrap {
    -ms-grid-columns: 380px 380px 380px;
        grid-template-columns: 380px 380px 380px;
  }
  .menu .gridWrap .menuItem {
    width: 380px;
  }
  .sets .gridWrap {
    -ms-grid-columns: 380px 380px 380px;
        grid-template-columns: 380px 380px 380px;
  }
  .sets .gridWrap .setItem {
    width: 380px;
  }
}

@media screen and (max-width: 1210px) {
  * {
    font-size: 14px;
  }
  .container {
    width: 100%;
  }
  .hero {
    display: none;
    background-image: url("../img/hero.jpg");
    background-attachment: fixed, local;
    background-repeat: no-repeat;
    height: 200px;
    margin-bottom: 41px;
    background-position: center 68px;
    background-size: auto 46%;
    position: relative;
    z-index: 0;
  }
  .menu {
    padding-top: 50px;
  }
  .menu .itemTitle {
    width: 90%;
    text-align: center;
    margin: 10px auto;
  }
  .menu #content {
    width: 100%;
  }
  .menu .input {
    width: 100%;
    padding: 0;
  }
  .menu .gridWrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
  }
  .menu .gridWrap .menuItem {
    width: 100%;
  }
  .menu .description {
    width: 95%;
    margin: 15px auto;
  }
  .sets .gridWrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .sets .gridWrap .setItem {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .sets .gridWrap .setItem .setItem__description {
    margin-bottom: 10px;
  }
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery img {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  #delivery .gridDelivery {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 104px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #delivery .gridDelivery div {
    text-align: center;
  }
  footer {
    text-align: center;
  }
  footer .container {
    width: 50%;
  }
  footer .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .info .addrAndSchedule {
    margin-bottom: 20px;
  }
  footer .info .deliveryAndBook span {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */
