@import "./components/_header.scss";
@import "./components/_cart.scss";

* {
  font-size: 20px;
  font-family: "Exo 2", sans-serif;
  margin: 0;
  padding: 0;
}

*::selection {
  background: #f52f2f;
}

html {
  scroll-behavior: smooth;
  background: #fefefe;
}

html,
main {
  height: 100%;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.4em;
  text-align: center;
  letter-spacing: 0.15em;
  margin-bottom: 42px;
}

/* notification */

#notification {
  position: fixed;
  z-index: 2;
  right: 0;
  background: #d20000;
  padding: 10px 20px;
  font-weight: 600;
  color: #fafafa;
  top: 45px;
  transition: 0.4s all ease-in;
}

#notification.active {
  top: 92px;
  transition: 0.4s all ease-out;
}

.active {
  display: block;
}

/* hero */

.hero {
  background-image: url("../img/hero.jpg");
  background-attachment: fixed, local;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 41px;
  background-position: center 68px;
  background-size: auto 46%;
  position: relative;
  z-index: 0;
}

// fin hero

/* menu */

.menu {
  margin-bottom: 99px;

  .title {
    margin-bottom: 25px;
  }
  .choose {
    position: relative;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.15em;
    margin-bottom: -2px;
    z-index: 2;
  }
  // dropdown

  #dropdown {
    padding-bottom: 44px;
  }
  #content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    height: 400px;
    width: 440px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 440px;
    padding: 0 16px;
    background-color: #fff;
    cursor: pointer;
    letter-spacing: 0.15em;
  }

  .placeholder {
    color: #222222;
    display: flex;
    justify-content: center;
  }

  .input__placeholder {
    text-align: center;
  }

  .structure > div {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 16px 0;
  }

  .structure > div:hover {
    background-color: #d20000;
    color: #fafafa;
    cursor: pointer;
  }

  .structure > div > h5 {
    font-family: "Exo 2", sans-serif;
    margin-right: 4px;
  }

  .index {
    z-index: -999;
  }
  .hide {
    display: none;
  }

  .cont_select_int {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #fff;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 0px 0px 3px 3px;
    transition: all 225ms ease-out;

    li {
      font-size: 1.2em;
      position: relative;
      float: left;
      width: 96%;
      // background-color: #fefefe;
      list-style-type: none;
      padding: 10px 2%;
      margin: 0px;
      transition: all 5ms ease;
      display: block;
      cursor: pointer;
      &:last-child {
        border-radius: 3px;
        border-bottom: 0px;
      }
      // &:nth-child(2n + 1) {
      //   background-color: #fafafa;
      // }
      &:hover {
        background-color: #d20000;
        color: #fafafa;
      }
    }

    .active {
      text-decoration: underline;
    }
  }


  .selected_option {
    font-size: 1.2em;
    padding: 14px 2%;
    width: 96%;
    display: block;
    margin: 0px;
    cursor: pointer;
  }

  // fin dropdown
  .sushi {
    display: none;
  }
  .activeKind {
    position: relative;
    transition: all 0.4s ease;
    display: block;
  }
  .itemTitle {
    width: 440px;
    font-weight: 300;
    margin-bottom: 24px;
    .itemTitle__name {
      font-size: 1.4em;
      text-transform: uppercase;
      letter-spacing: 0.15em;
    }
    .itemTitle__quantity {
      font-size: 1.4em;
    }
  }

  .gridWrap {
    display: grid;
    grid-template-columns: 440px 440px 440px;
    justify-content: space-between;
    margin-bottom: 50px;

    .menuItem {
      width: 440px;
      margin-bottom: 26px;
      .menuItem__top {
        margin-bottom: 8px;
        .menuItem__top__name {
          font-size: 1.2em;
          font-weight: 600;
          letter-spacing: 0.03em;
        }
        .menuItem__top__price {
          display: flex;
          span {
            margin-right: 15px;
            font-size: 1.2em;
            font-weight: 600;
            letter-spacing: 0.03em;
          }
          img {
            cursor: pointer;
          }
        }
      }
      .menuItem__bottom {
        font-size: 0.9em;
      }
    }
  }
}

.description {
  letter-spacing: 0.15em;
  margin-bottom: 35px;
  b {
    font-size: 1.2em;
  }
}

// fin  menu

/* sets */

.sets {
  margin-bottom: 47px;

  .gridWrap {
    display: grid;
    grid-template-columns: 440px 440px 440px;
    justify-content: space-between;
    margin-bottom: 50px;

    .setItem {
      width: 440px;
      margin-bottom: 35px;
      .setItem__top {
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        .setItem__top__name {
          font-size: 1.2em;
          font-weight: 600;
          letter-spacing: 0.03em;
        }
        img {
          cursor: pointer;
        }
      }
      .setItem__description {
        display: block;
        font-weight: 300;
        margin-bottom: 25px;
      }
      .setList {
        list-style: none;
        .setList__item {
          font-weight: 300;
          margin-bottom: 6px;
        }
      }
    }
  }
}

// fin sets

/* delivery */

#delivery {
  .gridDelivery {
    display: grid;
    grid-template-columns: 880px 440px;
    justify-content: space-between;
    margin-bottom: 104px;
    align-items: flex-start;
    .gridDelivery__description {
      .gdDescTitle {
        font-size: 1.3em;
        margin-bottom: 30px;
      }
      p {
        line-height: 35px;
        font-weight: 300;
        font-size: 1.1em;
      }
      p:nth-child(2) {
        margin-bottom: 25px;
      }
    }
    .gridDelivery__whenOrderGet {
      .gdWhenTitle {
        font-size: 1.3em;
        margin-bottom: 30px;
      }
      p {
        line-height: 32px;
        font-weight: 300;
        font-size: 1.1em;
      }
    }
  }
}

// fin delivery

/* footer */

footer {
  border-top: 1px solid #c4c4c4;
  width: 100%;
  padding-top: 47px;
  margin-bottom: 40px;

  .info {
    display: flex;
    justify-content: space-between;
    .deliveryAndBook {
      display: block;
      .dbTitle {
        margin-bottom: 12px;
      }
      span {
        margin-bottom: 10px;
        display: flex;
        img {
          margin-right: 14px;
        }
        .love {
          margin: 0 5px;
        }
        .mir4ri {
          margin-left: 5px;
          text-decoration: none;
          color: #d20000;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      span:nth-child(3) {
        margin-bottom: 43px;
      }
    }
    .addrAndSchedule {
      .asTitle {
        margin-bottom: 3px;
      }
      p {
        margin-bottom: 26px;
      }
      .schedule {
        display: flex;
        justify-content: space-between;
        div {
          span {
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  * {
    font-size: 18px;
  }
  .container {
    width: 1366px;
  }
}

@media screen and (max-width: 1410px) {
  * {
    font-size: 16px;
  }
  .container {
    width: 1200px;
  }

  .menu {
    .itemTitle {
      width: 380px;
    }
    .gridWrap {
      grid-template-columns: 380px 380px 380px;
      .menuItem {
        width: 380px;
      }
    }
  }
  .sets {
    .gridWrap {
      grid-template-columns: 380px 380px 380px;
      .setItem {
        width: 380px;
      }
    }
  }
  .gallery {
    img {
      width: 380px;
    }
  }
}
